<div class="selected-item">
  <a class="selected-title pl-5">ポートフォリオ一覧</a><br />
  <a class="pl-5">アプリ名とタグ名で検索ができます</a>
</div>

  <div>
    <%= form_tag(portfolios_path, method: :get) do  %>
    <div class="input-group my-2 mx-auto px-5">
      <%= text_field_tag :search, '',  placeholder: "Search Portfolios", class: "form-control" %>
      <%= select_tag :renge, options_for_select([["ポートフォリオ名"],["タグ名"]]) %>
        <span class="input-group-btn">
        <%= submit_tag "検索", class: "btn btn-primary" %>
        </span>
      <% end %>
    </div>
  </div>

  <div>
    <ul class="pf-list d-flex justify-content-center pt-5">
      <% if @renge == "ポートフォリオ名" %>
        <% @portfolios.each do |portfolio| %>
          <li><%= link_to portfolio_path(portfolio) do %><%= attachment_image_tag portfolio,:image, fallback: "no-image.jpg", size:"300x225", class:"fallback" %> <% end %><br />
          <b><%= portfolio.title %></b><br />
          <%= portfolio.user.name %><br />
          <%= portfolio.created_at.strftime("%Y年%m月%d日") %></li>
        <% end %>
      <% else %>
        <% @tags.each do |tag| %>
          <% tag.portfolios.each do |portfolio| %>
          <li><%= link_to portfolio_path(portfolio) do %><%= attachment_image_tag portfolio,:image, fallback: "no-image.jpg", size:"300x225", class:"fallback" %> <% end %><br />
          <b><%= portfolio.title %></b><br />
          <%= portfolio.user.name %><br />
          <%= portfolio.created_at.strftime("%Y年%m月%d日") %></li>
          <% end %>
        <% end %>
      <% end %>
      <% end %>
    </ul>
  </div>