<div class="container">
  <div class="row mt-5">
    <div class="col-2"></div>
      <div class="left col-4"><%= attachment_image_tag @user, :profile_image, size: "150x150", fallback: "no-user-image.png" %></div>
      <div class="col-4">
        <div class=""><h1><%= @user.name %></h1></div>
        <div class=""><%= @user.introduction %></div>
        <div><%= link_to "ユーザ編集", edit_user_path(@user) %></div>
      </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-12"><h3>my portfolio</h3></div>
    <div class="col-12 ml-5"><%#= link_to portfolio_path(@user.portfolio) do %><h3><%#= @user.portfolio.title %></h3></div>
  </div>
  
  <div>
    <% unless @user.id == current_user.id %>
      <% if @isRoom == true %>
        <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="my-page-right-bottom">
      <ul class="tabnav">
        <li><a href="#tab01"><%#= @user.portfolio.title %>へのレビュー</a></li>
        <li><a href="#tab02">自分からのレビュー</a></li>
        <li><a href="#tab03">未返信のレビュー</a></li>
      </ul>
      <div class="tabcontent">
          <div class="content1" id="tab01">
          <% @review_to_me.each do |pf_review| %>
            <% if pf_review.review_each_other %>
              <div class="col-8 border d-flex">
                <% user = User.find(pf_review.reviewer_user_id) %>
                <div><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-user-image.png" %></div>
                <div class="title"><%= user.name %>さんからのレビュー</div>
                <div class="check"><%= link_to "レビューを確認する", pf_review_path(pf_review), class: "btn btn-success" %></div>
              </div>
            <% else %>
              <div class="col-8 border d-flex">
                <% user = User.find(pf_review.reviewer_user_id) %>
                <div><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-user-image.png" %></div>
                <div class="title"><%= user.name %>さんからのレビュー</div>
                <div class="check"><%= link_to "レビューを返す", new_pf_review_path(portfolio_id: user.portfolio.id), class: "btn btn-danger" %></div>
              </div>
            <% end %>
          <% end %>
          </div>
          <div class="content2" id="tab02">
            <% @review_from_me.each do |pf_review| %>
            <% if pf_review.review_each_other %>
              <div class="col-8 border d-flex">
                <% user1 = User.find(pf_review.reviewer_user_id) %>
                <div><%= attachment_image_tag user1, :profile_image, size: "50x50", fallback: "no-user-image.png" %></div>
                <div class="title"><%= pf_review.portfolio.title %>へのレビュー</div>
                <div class="check"><%= link_to "レビューを確認する", pf_review_path(pf_review), class: "btn btn-success" %></div>
              </div>
            <% else %>
              <div class="col-8 border d-flex">
                <% user2 = User.find(pf_review.reviewed_user_id) %>
                <div><%= attachment_image_tag user2, :profile_image, size: "50x50", fallback: "no-user-image.png" %></div>
                <div class="review"><%= pf_review.portfolio.title %>へのレビュー</div>
                <div><p class="btn btn-danger">レビュー待ち</p></div>
              </div>
            <% end %>
            <% end %>
          </div>
          <div class="content3" id="tab03">
          <% @review_to_me.each do |pf_review| %>
            <% if pf_review.review_each_other == false %>
              <div class="col-8 border d-flex">
                <% user = User.find(pf_review.reviewer_user_id) %>
                <div><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-user-image.png" %></div>
                <div class="title"><%= user.name %>さんからのレビュー</div>
                <div class="check"><%= link_to "レビューを返す", new_pf_review_path(portfolio_id: user.portfolio.id), class: "btn btn-danger" %></div>
              </div>
            <% else %>
            未返信のレビューはありません
            <% end %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

