<div class="container">
  <div class="row mt-5">
    <div class="col-2"></div>
      <div class="left col-4"><%= attachment_image_tag @user, :profile_image, size: "150x150", fallback: "no-user-image.png" %></div>
      <div class="col-4">
        <div class=""><h1><%= @user.name %></h1></div>
        <div class=""><%= @user.introduction %></div>
        <div><%= link_to "ユーザ編集", edit_user_path(@user) %></div>
      </div>
    <div class="col-2"></div>
  </div>
  <div class="row">

    <div class="col-12"><h3>my portfolio</h3></div>
    <div class="col-12 ml-5"><%#= link_to portfolio_path(@user.portfolio) do %><h3><%#= @user.portfolio.title %></h3></div>
  </div>
  
  <div>
    <% unless @user.id == current_user.id %>
      <% if @isRoom == true %>
        <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
        <% end %>
      <% end %>
    <% end %>
  </div>


</div>