<div class="selected-item">
  <a class="selected-title pl-5">マイページ</a><br />
</div>

<div class="container">
  <div class="row mt-1">
  <div class="col-4">
    <div class="my-page-wrapper">
    <div class="my-page-left">
      <div class="left bg-white p-2 rounded">
      <div class="user-info mt-4">
        <div class="col-4-offset d-flex justify-content-center"><%= attachment_image_tag @user, :profile_image, size: "120x120", fallback: "no-user-image.png" %></div>
        <div class="col-4-offset d-flex justify-content-center mt-4"><%= @user.name %></div>
        <div class="col-10-offset d-flex justify-content-center"><%= @user.introduction %></div>
        <div class="col-10-offset d-flex justify-content-center mt-2"><% if @user.id == current_user.id %><%= link_to "ユーザ編集", edit_user_path(@user),class: "btn btn-dark" %> <% end %></div>
      </div>
      <div class="col-10-offset d-flex justify-content-center mt-2">
        <% unless @user.id == current_user.id %>
          <% if @isRoom == true %>
            <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
   </div>
   </div>
   <div class="col-8">
     <div class="my-pf">
       <div class="flame23">
       <span class="flame23-title">My Portfolio</span>
       <%= link_to portfolio_path(@user.portfolio),class: "Editlink" do%><h1><%= @user.portfolio.title%></h1><% end %>
       </div>
     </div>

  <div class="row">
    <div class="my-page-right-bottom">
      <ul class="tabnav">
        <li><a href="#tab01"><%= @user.portfolio.title %>へのレビュー</a></li>
        <li><a href="#tab02">自分がしたレビュー</a></li>
      </ul>
      <div class="tabcontent">
          <div class="content1" id="tab01">
          <% @review_to_me.each do |pf_review| %>
            <% if pf_review.review_each_other %>
              <div class="w-100 d-flex text-align-center">
                <% user = User.find(pf_review.reviewer_user_id) %>
                <div><%= attachment_image_tag user, :profile_image, size: "75x75", fallback: "no-user-image.png" %></div>
                <div class="title"><div class="d-flex justify-content-center text-align-center mt-4"><%= user.name %>さんからのレビュー</div></div>
                <div class="check ml-1 mt-3"><%= link_to "確認する", pf_review_path(pf_review), class: "btn btn-dark" %></div>
              </div>
            <% else %>
              <div class="w-100 d-flex text-align-center">
                <% user = User.find(pf_review.reviewer_user_id) %>
                <div><%= attachment_image_tag user, :profile_image, size: "75x75", fallback: "no-user-image.png" %></div>
                <div class="title mt-4"><%= user.name %>さんからのレビュー</div>
                <div class="check ml-1 mt-3 text-align-center"><%= link_to "レビューを返す", new_pf_review_path(portfolio_id: user.portfolio.id), class: "btn btn-danger" %></div>
              </div>
            <% end %>
          <% end %>
          </div>
          <div class="content2" id="tab02">
            <% @review_from_me.each do |pf_review| %>
            <% if pf_review.review_each_other %>
              <div class="w-100 d-flex">
                <% user1 = User.find(pf_review.reviewed_user_id) %>
                <div><%= attachment_image_tag user1.portfolio, :image, size: "75x75", fallback: "no-image.jpg" %></div>
                <div class="title ml-1 mt-4 d-flex justify-content-center text-align-center"><p><%= pf_review.portfolio.title %>へのレビュー</p></div>
                <div class="check"><%= link_to "確認する", pf_review_path(pf_review), class: "btn btn-dark ml-1 mt-3" %></div>
              </div>
            <% else %>
              <div class="w-100 d-flex text-align-center">
                <% user2 = User.find(pf_review.reviewed_user_id) %>
                <div><%= attachment_image_tag user2.portfolio, :image, size: "75x75", fallback: "no-image.jpg" %></div>
                <div class="title d-flex justify-content-center ml-1 mt-4"><%= pf_review.portfolio.title %>へのレビュー</div>
                <div><p class="btn btn-danger ml-1 mt-3">レビュー返信待ち</p></div>
              </div>
            <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>