


  <div class="selected-item">
    <a class="selected-title pl-5">DM画面</a><br />
  </div>

<div class="container">
<div>
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <strong><%= message.content %></strong>
      <small><%= message.created_at.strftime("%m月%d日%H:%M:%S") %></small>
      <small>by <a href="/users/<%= message.user_id %>"><%= message.user.name %>さん</a></small><br />
    <% end %>
  <% else %>
    <h4>メッセージはまだありません</h4>
  <% end %>
</div>

<div class="mt-3">
  <%= form_with model: @message do |f| %>
    <%= f.text_field :content, :placeholder => "メッセージを入力してください", :size => 80 %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "送信する" %>
  <% end %>
</div>
</div>